*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

html{
    scroll-behavior: smooth !important; 
}

.wrapper{
    padding: 0px 8px;
    margin-bottom: 64px;
}

/* header */

#header{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 5px 20px 0px #ccc;
}

nav{
    letter-spacing: 4px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    box-shadow: #fff;
}

.left p,
.right p{
    padding: 8px 16px;
    transition: 0.6s;
}

.left p:hover,
.right p:hover{
    background-color: #ccc;
}

.left a,
.right a{
    text-decoration: none;
    color: black;
}

.right{
    display: flex;
}

/* logo */

#logo{
    background: url(https://www.w3schools.com/w3images/architect.jpg) top center/ cover no-repeat;
    padding-top: 50%;
    margin-top: 55px;
    font-size: 36px;
    letter-spacing: 4px;
    position: relative;
    margin: 0px -8px 0px -8px;
}


#logo p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px;
    color: #fff;
}

#logo span{
    padding: 16px;
    background-color: black;
}

/* Project */

#project,
#about,
#contact{
    padding: 8px 16px;
}

#project > h2,
#about > h2,
#contact > h2{
    font-size: 24px;
    font-weight: 200;
    padding: 32px 8px;
    border-bottom: 1px solid #ccc;

}

.project-list{
    display: flex;
    flex-wrap: wrap;
    padding-top: 32px;
    margin: 0px -8px 0px -8px;
}

.project-item{
    width: 25%;
    padding: 0px 8px;
    margin-bottom: 10px;
    position: relative;
}

.project-item img{
    width: 100%;
}

.project-item p{
    position: absolute;
    background-color: black;
    padding: 8px 16px;
    left: 8px;
    top: 0px;
    color: #fff;
}

/* About */


.about-text p{
    padding: 32px 8px;
    margin: 0px -8px 0px -8px;
}

.about-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0px -8px 0px -8px;
}

.about-item{
    width: 25%;
    padding: 0px 8px;
}

.about-item img{
    width: 100%;
}

.about-item h2{
    font-size: 24px;
    font-weight: 300;
}

.about-item .text-opacity{
    opacity: 0.6;
    margin: 10px 0px;
}

.about-item button{
    width: 100%;
    height: 40px;
    border: none;
    font-size: 16px;
    margin: 10px 0px;
    cursor: pointer;
}

/* Contact */

#contact p{
    margin: 16px 0px;
}

#contact input{
    width: 100%;
    padding: 8px 16px;
    height: 40px;
    margin-top: 16px;
    font-size: 16px;
}

#contact button{
    padding: 8px 16px;
    background: black;
    border: none;
    color: #fff;
    margin: 20px 0px;
    height: 40px;
    cursor: pointer;
}

.location{
    padding: 32px 8px;
}

.location .location-map{
    padding-top: 50%;
    background: url(https://www.w3schools.com/w3images/map.jpg) top center / cover no-repeat;
}


footer{
    height: 85px;
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a{
    color: #fff;
}

.p{
    width: 300px;
    padding: 8px 16px;   

}

.p span{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}


.wrapper__card{
    display: grid;
    height: 500px;
    gap: 40px ;
    width: 80% ;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.car{

}

.wrapper__card img{
    width: 100%;
}

